<%- include ('../compoanent/header') %> 
<div class="container-self">
<%- include ('../compoanent/sidebar') %>

<main class="container mt-3 bg-light">
  <h2 class="text-center text-primary bg-danger bg-opacity-50">Productes</h2>
  <a href="/ulter/addmin/products">products</a><br>
  <a href="/ulter/addmin/products/add">products-add</a><br>
  <a href="/ulter/addmin/products/edit">products-edit</a><br>
  <a href="/ulter/addmin/products/remove">products-remove</a>
</main>

<%- include ('../compoanent/footer') %>
