<%- include ('../compoanent/header') %> 
<div class="container-self">
<%- include ('../compoanent/sidebar') %>

<main class="container mt-3 bg-light">
  <h2 class="text-center text-primary bg-danger bg-opacity-50">Categories</h2>
  <a href="/ulter/addmin/categories">Categories</a><br>
  <a href="/ulter/addmin/categories/add">Categories-add</a><br>
  <a href="/ulter/addmin/categories/edit">Categories-edit</a><br>
  <a href="/ulter/addmin/categories/remove">Categories-remove</a>
</main>

<%- include ('../compoanent/footer') %>
