<%- include ('compoanent/header') %>

<div
  class="label container-fluid bg-primary px-3"
  style="height: 35px; color: red"
>
  <p class="lead">Te: 0122000000</p>
</div>

<header class="container-fluid bg-primary bg-opacity-75" style="height: 400px">
  <div class="row p-5 h-75">
    <div class="icon col-3"></div>
    <div class="text-header col-5">
      <h1>enter header hear</h1>
      <p class="lead">enter description hear</p>
    </div>
  </div>
</header>

<%- include ('compoanent/navbar') %>

<main class="container mt-5 bg-light">
  <section class="cat-1">
    <h3 class="mb-3">Category</h3>
    <div class="container-fluid header row m-auto">
      <div class="col-3 bg-light rounded-4 px-0 my-2">
        <div class="card">
          <img
            class="card-img-top"
            src="../images-privet/819XYUimTuL.jpg"
            alt="computer"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">item1</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
          </p>
          <a class="btn btn-primary w-100" href="#">build on</a>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include ('compoanent/footer') %>
