<div class="navigation sticky-top bg-primary bg-opacity-25">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <div class="container-fluid mx-1">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/category/add">Add</a></li>
              <li><a class="dropdown-item" href="/category/edit">Edit</a></li>
              
              <li><a class="dropdown-item" href="/category/remove">Remove</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Product
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/product/add">Add</a></li>
              <li><a class="dropdown-item" href="/product/edit">Edit</a></li>
              
              <li><a class="dropdown-item" href="/product/remove">Remove</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/user/add">Add</a></li>
              <li><a class="dropdown-item" href="/user/edit">Edit</a></li>
              
              <li><a class="dropdown-item" href="/user/remove">Remove</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="user/login">Login</a></li>
              <li><a class="dropdown-item" href="user/logout">LogOut</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

        </ul>
      
      </div>
    </div>
  </nav>
</div>